:root {
  --font-brown: #2c060c;
  --black: #000000;
  --white: #fff;
}

body {
  font-family: "Poppins";
}

/* Global */
.btn {
  border: none;
  border-radius: 18px;
  padding: 4px 26px;
  background-color: var(--font-brown);
  color: var(--white);
  cursor: pointer;
}

/* Sections */

/* Hero */

.header {
  position:absolute;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 60px;
  overflow: hidden;
  padding: 0 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header nav ul {
  display: flex;
  gap: 42px;
}

.header nav {
  display: flex;
  gap: 42px;
  justify-content: center;
  align-items: center;
}

.header nav li a {
  text-decoration: none;
  cursor: pointer;
  color: var(--font-brown);
}

/* Hero */

#hero {
  height: 100vh;
  position: relative;
  color: var(--clr-white);
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero .bg-img {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#hero .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
  position: relative;
  text-align: left;
  margin-right: 700px;
}

#hero .wrapper h1 {
  font-size: 52px;
  font-weight: bold;
}
#hero .wrapper h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}
#hero .wrapper p {
  margin-bottom: 30px;
}

/* Places */
#places {
  margin-bottom: 100px;
}
#places .big-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#places h2 {
  font-size: 32px;
  margin-top: 60px;
}
#places span {
  font-size: 16px;
  color: lightslategray;
  font-weight: 500;
  margin-bottom: 30px;
}

#places .big-wrapper .wrapper {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  width: 60%;
}

#places .big-wrapper .wrapper img {
  height: 250px;
  width: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#places .big-wrapper .wrapper .container {
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  font-size: 14px;
}

#places .big-wrapper .wrapper .container h4 {
  font-size: 20px;
}

#places .big-wrapper .wrapper .container p {
  width: 80%;
}

#places .big-wrapper .wrapper .container .btn {
  background-color: var(--white);
  color: var(--black);
  border: 2px solid brown;
  border-radius: 32px;
  font-weight: bold;
  padding: 10px 28px;
  margin-top: 20px;
  cursor: pointer;
}

/* Footer */

footer {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer h3 {
  font-size: 28px;
  margin: 100px 150px;
}

footer .list {
  margin: 50px;
}

footer ul {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  color: rgb(158, 158, 158);
  font-size: 14px;
}

footer .icon-container {
  margin: 100px;
  color: rgb(158, 158, 158);
  
}

footer .icon-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

footer .icon-container span {
    font-size: 12px;
}

footer .icon-container i {
  color: white;
}

footer .icon-container .grid-icons {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}
